{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="m-post" >
        <header>
            <div><h1>{{post.title}}</h1></div>
            <div>
                <div>{{post.author.username}}</div>
                <div>{{post.author.created_at}}</div>
            </div>
        </header>
        
        <h3>{{post.resume}}</h3>
        <p>{{post.content | safe}}</p>
        <a href="{{post.file_name.url}}" download="file.txt">Download</a> 
    </div>
</div>
{% endblock content %}