{% extends 'base.html' %}

{% block content %}
<div class="">

    <div class="container">
        {% for soft in softs %}
        <div class="card m-2">
            <div class="card-header">
                {{soft.type_content}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{soft.title}}</h5>
                <a href="/project/{{soft.slug}}">Ver {{soft.title}}</a>
                <h3>{{soft.resume}}</h3>
                <p class="card-text">{{soft.content | safe}}</p>
                <p>{{soft.views}} visualizações</p>
                <a href="{{soft.file_name.url}}" class="btn btn-primary">Download</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}