{% extends 'base.html' %}
{% block breadcrumb %}
<div class="container" style="padding: 2em;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Início</a></li>
          <li class="breadcrumb-item active" aria-current="page">Projetos</li>
        </ol>
    </nav>
</div>
{% endblock breadcrumb %}
{% block content %}
<div class="container">
    {% for post in posts %}
    <div class="card m-2">
        <div class="card-header">
            {{post.type_content}}
        </div>
        <div style="justify-content: space-between;" class="card-body d-flex flex-row">
            <div>
                <h5 class="card-title">{{post.title}}</h5>
                <h3>{{post.resume}}</h3>
                <p class="card-text">{{post.content}}</p>
                <p>{{post.views}} visualizações</p>
                <a class="btn btn-primary" href="/project/{{post.slug}}">Ver post '{{post.title}}' completo</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}