{% extends 'base.html' %}
<div class="container" style="padding: 2em;">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
      </ol>
  </nav>
</div>
{% block title %}Entrar{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="m-container-login">
  <div class="card ">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="alert alert-warning alert-dismissible fade show" {% endif %}>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="m-card-login">
      <h2>Entrar</h2>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Entar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}