.text-projects{
    color: var(--cinza-escuro);

    margin-top: 60px;
    margin-bottom: 40px;
}
.text-projects p{
    text-align: center;
    font-size: 40px;
}

.squad-container{
    width: 320px;
    height: 400px;
    text-align: center;

    padding-top: 15px;
    border-radius: 20px;
}

/*.squad:hover{
    cursor: pointer;
    color:  var(--cinza-escuro);

    transition: .3s ease all;
}*/

.img-project img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;

}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.text-project{
    display: flex;
    justify-content: center;

    width: 300px;
    margin-top: 10px;
}
.text-project a{
    /*font-family: 'Roboto';*/
    font-size: 25px;
    color: var(--azul-escuro);

    width: 250px;
}

.views{
    display: flex;
    justify-content: center;

    /*padding-top: 5px;*/
}

.views p{
    font-family: 'Roboto';
    color: rgb(73, 255, 73);
    font-weight: bold;
    font-size: 16px;
}

.bar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 1125px;
    margin-top: 80px;

    text-align: center;
    color: var(--cinza-escuro);

    .bar{
        
        .text-bar{
            margin-top: 15px;
            width: 230px;
            height: 150px;
            
            .txt-dash-one{
                font-size: 22px;
                color: var(--azul-escuro);
            }
                
            .txt-dash-two{
                    color: rgb(73, 255, 73);
                    font-size: 20px;
            }
        }
    }
}

#bar-two{
    color: rgb(73, 255, 73);
    font-size: 20px;
}


.text-container-projects{
    margin-top: 30px;
    padding-top: 20px;

    &:hover{
        cursor: pointer;

        transition: .2s ease all;
    }
}
