.text-projects{
    color: var(--cinza-escuro);

    margin-top: 60px;
    margin-bottom: 40px;
}
.text-projects p{
    text-align: center;
    font-size: 40px;
}

.squad{
    width: 300px;
    height: 300px;
    text-align: center;

    padding-top: 15px;
}

.squad:hover{
    cursor: pointer;
    color:  var(--cinza-escuro);

    transition: .3s ease all;
}

.img-project img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.text-project{
    display: flex;
    justify-content: center;

    width: 300px;
    margin-top: 10px;
}
.text-project a{
    /*font-family: 'Roboto';*/
    font-size: 25px;
    color: var(--cinza-escuro);

    width: 250px;
}

.views{
    display: flex;
    justify-content: center;
}

.views p{
    font-family: 'Roboto';
    color: rgb(73, 255, 73);
    font-weight: bold;
    font-size: 16px;
}

.bar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid var(--azul-claro);
    border-radius: 10px;

    width: 1125px;
    margin-top: 80px;
}

.dashboard-bar p{
    text-align: center;
    font-size: 18px;

    color: var(--cinza-escuro);
}

.text-bar{
    margin-top: 15px;
}

.text-container-projects:hover{
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid var(--azul-claro);
    border-radius: 20px;

    transition: .2s ease all;
}

.img-medal{
    width: 300px;
    height: 40px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    transform: rotate(10deg);
    transform-origin: right top 0;

    img{
        width: 40px;
        height: 40px;

        border-radius: 100%;
        object-fit: cover;
    }
}
