:root {
    --cinza-escuro: #54565B;
    --azul-claro: #A7CBD9;
    --cinza-claro: #F5F5F5;
    --azul-escuro: #395D73;
    --vermelho: #D96459;
    --branco: #ffffff;
    --cinza-background: #e4e4e4c2;

    --bebas-font: 'Bebas Neue', cursive;
    
}