<div id="projetos" class="container mt-5">
    <div class="text-projects">
        <p>Projetos mais vistos</p>
    </div>
    <div class="d-flex justify-content-between">
        {% for soft in result %}
        <div class="projects">
            <div class="">
                <div class="squad">
                    <div class="img-project">
                        <img src="/static/img/imgHome/img-test.jpg" alt="">
                    </div>
                    <div class="text-project">
                        <a href="/project/{{soft.slug}}">{{soft.title}}</a>                        
                        <p>{{soft.description}}</p>
                    </div>
                    <div class="views">
                        <p>{{soft.views}} visualizações</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="bar-container">
        <div>
            <canvas id="myChart"></canvas>
        </div>
        
        <div class="dashboard-bar">
            <div class="bar-one">
                <div class="text-bar">
                    <p>Total de Acessos</p>
                </div>
            </div>
            <div class="bar-two">
                <div class="text-bar">
                    <p>Total de Contas</p>
                </div>
            </div>
            <div class="bar-three">
                <div class="text-bar">
                    <p>Total de Projetos de Software</p>
                </div>
            </div>
            <div class="bar-four">
                <div class="text-bar">
                    <p>Total de Livros</p>
                </div>
            </div>
        </div>
    </div>
</div>