<div id="projetos" class="container mt-5">
    <div class="text-projects">
        <p>Projetos mais vistos</p>
    </div>
    <div class="d-flex justify-content-between">
        {% for post in posts %}
        <div class="projects">
            <div class="">
                <div class="squad">
                    <div class="img-medal">
                        <img src="../../static/img/imgHome/medal.svg" alt="">
                    </div>
                    <div class="img-project">
                        <img src="/static/img/imgHome/img-test.jpg" alt="">
                    </div>
                    <div class="text-container-projects">
                        <div class="text-project">
                            <a href="/project/{{post.slug}}">{{post.title}}</a>
                            
                            <p>{{post.description}}</p>
                        </div>
                        <div class="views">
                            <p>{{post.views}} visualizações</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="bar-container">
        <div class="dashboard-bar">
            <div class="bar">
                <div class="text-bar">
                    <input type="hidden" id="qtdAcess" value="{{qtdAcess}}">
                    <p>Total de Acessos</p>
                    <!--{{qtdAcess}}-->
                </div>
                <div id="bar-one">
                    0 Acessos
                </div>
            </div>
            <div class="bar">
                <div class="text-bar">
                    <input type="hidden" id="qtdAccounts" value="{{users}}">
                    <p>Total de Contas</p>
                    <!--{{users}}-->
            </div>
            <div id="bar-two">
                0 Contas
            </div>
            </div>
            <div class="bar">
                <div class="text-bar">
                    <input type="hidden" id="qtdProjetcSoft" value="{{qtdProjetcSoft}}">
                    <p>Total de Projetos de Software</p>
                    <!--{{qtdProjetcSoft}}-->
            </div>
            <div id="bar-three">
                0 Projetos
            </div>
            </div>
            <div class="bar">
                <div class="text-bar">
                    <input type="hidden" id="qtdProjetcEbook" value="{{qtdProjetcEbook}}">
                    <p>Total de Livros</p>
                    <!--{{qtdProjetcEbook}}-->
            </div>
                <div id="bar-four">
                    0 Livros
                </div>
            </div>
        </div>
    </div>
</div>
</div>