<div id="projetos" class="container mt-5">
    <div class="text-projects">
        <p>Projetos mais vistos</p>
    </div>
    <div class="d-flex justify-content-between">
        {% for soft in result %}
        <div class="projects">
            <div class="">
                <div class="squad">
                    <div class="img-project">
                        <img src="/static/img/imgHome/img-test.jpg" alt="">
                    </div>
                    <div class="text-project">
                        <a href="/project/{{soft.slug}}">{{soft.title}}</a>                        
                        <p>{{soft.description}}</p>
                    </div>
                    <a href="{{post.file_name.url}}">Download</a>
                    <div class="views">
                        <p>{{soft.views}} visualizações</p>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="bar-container">
        <div>
            <canvas id="myChart"></canvas>
        </div>
        
        <div class="dashboard-bar">
            <div class="bar-one">
                <div class="text-bar">
                    <input type="hidden" id="qtdAcess" value="{{qtdAcess}}">
                    <p>Total de Acessos {{qtdAcess}}</p>
                </div>
            </div>
            <div class="bar-two">
                <div class="text-bar">

                    <input type="hidden" id="qtdAccounts" value="{{users}}">
                    <p>Total de Contas {{users}}</p>
            </div>
            </div>
            <div class="bar-three">
                <div class="text-bar">
                    <input type="hidden" id="qtdProjetcSoft" value="{{qtdProjetcSoft}}">
                    <p>Total de Projetos de Software {{qtdProjetcSoft}}</p>
            </div>
            </div>
            <div class="bar-four">
                <div class="text-bar">
                    <input type="hidden" id="qtdProjetcEbook" value="{{qtdProjetcEbook}}">
                    <p>Total de Livros {{qtdProjetcEbook}}</p>
            </div>

            </div>
        </div>
    </div>
</div>