<footer id="contato">
  <div class="nav-bottom">
    <div class="contact-text">
      <p>Contato</p>
      <hr>
    </div>
    <div class="footer-container">
      <div class="upe-network">
        <div class="text-network">
          <p>UPE nas redes</p>
        </div>
        <div class="icons-network">
          <a class="email" href="#">
            <img src="/static/img/footer/message.svg" alt="email-logo">
          </a>
          <a class="instagram" href="#">
            <img src="/static/img/footer/instagram.svg" alt="insta-logo">
          </a>
          <a class="site" href="#">
            <img src="/static/img/footer/internet.svg" alt="site-logo">
          </a>
          <a class="phone" href="#">
            <img src="/static/img/footer/phone-call(1).svg" alt="phone-logo">
          </a>
        </div>
      </div>
      <div class="local">
        <div class="local-text">
          <p>Encontre-nos</p>
        </div>
        <div class="local-container">
          <div class="local-icon">
            <a class="local-logo" href="#">
              <img src="static/img/footer/placeholder.svg" alt="local-pin">
            </a>
          </div>
          <div class="text-icon">
            <p>Rua Capitão Pedro Rodrigues, Nº 105,
              Bairro: São José
              Garanhuns, Pernambuco, Brasil</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>