<div id="sobre" class="options-container">
  <div class="initial-text-container">
    <div style="padding-bottom: 0; color: var(--azul-claro);font-size: 30px; width: 30vw; display: flex; flex-direction: column; justify-content: center; align-items: center;" class="shadow-sm p-3 mb-5 bg-body rounded">
      <p styles="font-size: 30px">Projetos</p>
    </div>
  </div>
  <div class="options">
    <div class="container-card" style="display: flex; flex-direction: row;">
      <div style="border-radius: 50px; margin-right: 3vw; height: 40vh; width: 40vw; background: linear-gradient( #2d0c37, #9b9fb9); display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;" class="shadow p-3 mb-5 bg-body rounded">
        <div class="img-card">
          <img style="border-radius: 100%; width: 13vw; height: 26vh; object-fit: cover;" src="../../static/img/imgHome/pc.jpg" alt="">
        </div>
        <div class="text-card" style=" padding-left: 20px;">
          <div class="title-card">
            <a href="" style="color: var(--cinza-claro);"><p style="font-size: 30px;">Projetos de Software</p>
            <div class="text-card-container">
              <p style="font-size: 20px;">Estes projetos foram desenvolvidos por discentes e docentes dos cursos de Licenciatura
                em Computação e Engenharia de Software da Universidade de Pernambuco.
              </p>
            </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-two">
        <div style="border-radius: 50px; margin-left: 3vw; height: 40vh; width: 40vw; background: linear-gradient(#370c2d, #9b9fb9); display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;" class="shadow p-3 mb-5 bg-body rounded">
          <div class="img-card">
            <img style="border-radius: 100%; width: 13vw; height: 26vh; object-fit: cover;" src="../../static/img/imgHome/kindle.jpg" alt="">
          </div>
          <div class="text-card" style=" padding-left: 20px;">
            <div class="title-card">
              <a href="" style="color: var(--cinza-claro);"><p style="font-size: 30px;">Livros</p>
              <div class="text-card-container">
                <p style="font-size: 20px;">
                  Os livros em formato ebook são disponibilizados por discentes e docentes da 
                  Universidade de Pernambuco.
                </p>
              </a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>