<div id="sobre" class="options-container">
  <div class="initial-text-container">
    <div style="padding-bottom: 0; color: var(--azul-claro);font-size: 30px; width: 30vw; display: flex; flex-direction: column; justify-content: center; align-items: center;" class="shadow-sm p-3 mb-5 bg-body rounded">
      <p styles="font-size: 30px">Projetos</p>
    </div>
  </div>
  <div class="options">
    <div class="container-card" style="display: flex; flex-direction: row;">
      <div style="border-radius: 50px; margin-right: 3vw; height: 40vh; width: 40vw; background: linear-gradient( #2d0c37, #9b9fb9); display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;" class="shadow p-3 mb-5 bg-body rounded">
        <div class="img-card">
          <img style="border-radius: 100%; width: 13vw; height: 26vh; object-fit: cover;" src="../../static/img/imgHome/pc.jpg" alt="">
        </div>
        <div class="text-card" style=" padding-left: 20px;">
          <div class="title-card">
            <a href="" style="color: var(--cinza-claro);"><p style="font-size: 30px;">Projetos de Software</p>
            <div class="text-card-container">
              <p style="font-size: 20px;">Estes projetos foram desenvolvidos por discentes e docentes dos cursos de Licenciatura
                em Computação e Engenharia de Software da Universidade de Pernambuco.
              </p>
            </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-two">
        <div style="border-radius: 50px; margin-left: 3vw; height: 40vh; width: 40vw; background: linear-gradient(#370c2d, #9b9fb9); display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;" class="shadow p-3 mb-5 bg-body rounded">
          <div class="img-card">
            <img style="border-radius: 100%; width: 13vw; height: 26vh; object-fit: cover;" src="../../static/img/imgHome/kindle.jpg" alt="">
          </div>
          <div class="text-card" style=" padding-left: 20px;">
            <div class="title-card">
              <a href="" style="color: var(--cinza-claro);"><p style="font-size: 30px;">Livros</p>
              <div class="text-card-container">
                <p style="font-size: 20px;">
                  Os livros em formato ebook são disponibilizados por discentes e docentes da 
                  Universidade de Pernambuco.
                </p>
              </a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!--<a href="#">
      <div class="item-number-one">
        <div class="title">
          <p>Projetos de Software</p>
        </div>
        <div class="text-description">
          <p>
            It is a long established fact that a reader will be distracted by the readable
            content of a page when looking at its layout. The point of using Lorem Ipsum is
            that it has a more-or-less normal distribution of letters, as opposed to using
            'Content here, content here', making it look like readable English. Many desktop
            publishing packages and web page editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
            Various versions have evolved over the years, sometimes by accident, sometimes on purpose
            (injected humour and the like).
          </p>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="item-number-two">
        <div class="title">
          <p>Livros</p>
        </div>
        <div class="text-description">
          <p>
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form, by injected
            humour, or randomised words which don't look even slightly believable.
            If you are going to use a passage of Lorem Ipsum, you need to be sure
            there isn't anything embarrassing hidden in the middle of text. All the
            Lorem Ipsum generators on the Internet tend to repeat predefined chunks
            as necessary, making this the first true generator on the Internet.
          </p>
        </div>
      </div>
    </a>-->
  </div>
</div>