<header>
    <nav class="navbar">
        <div class="container">
            <div class="nav-logo d-flex d-flex-row">
                <div class="user">
                    <div class="user">
                        <img src="/static/img/imgHome/user.svg" alt="user">
                    </div>
                </div>

                <div class="logo">
                    <h1>UPEProjects</h1>
                </div>

                <div class="card" id="m-card-user">
                    <ul>
                        {% if user.is_authenticated %}
                        <li class="info-user-nav">
                            <img src="/static/img/imgHome/user-white.svg" alt="user">
                            <p>Olá, {{ user.username }}!</p>
                        </li>
                        <li class="btn-card-user"><a class="txt-user">Oi {{ user.username }}!</a></li>
                        <li class="btn-card-user"><a href="{% url 'logout' %}" style="color: red;">Sair</a></li>
                        {% else %}
                        <li class="info-user-nav">
                            <img src="/static/img/imgHome/user-white.svg" alt="user">
                            <p>Olá, visitante!</p>
                        </li>
                        <li class="btn-card-user"><a href="{% url 'login' %}">Entrar</a></li>
                        <li class="btn-card-user" id="btn-register"><a href="{% url 'signup' %}">Resgistrar-se</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="list">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#projetos">Projetos</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#contato">Contato</a></li>
                    <li><a href="#">Colaborar</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>