<header>
    <nav class="navbar">
        <div class="container d-flex d-flex-row">
            <div class="nav-logo d-flex d-flex-row">
                <div class="user">
                    <div class="user" style="cursor: pointer;" data-toggle="popover" title="Quer Colaborar?"
                        data-content="Então crie o se cadastro ou e faça login aqui!">
                        <img src="/static/img/imgHome/user.svg" id="icon-user" alt="user">
                    </div>
                    <script>
                        $(function () {
                            $('.user').popover({
                                container: 'body'
                            })
                        })()
                    </script>
                </div>

                <div class="logo">
                    <a href="/" style="color: #A7CBD9;">
                        <h1>UPEProjects</h1>
                    </a>
                </div>

                <div class="card" id="m-card-user">
                    <ul>
                        {% if user.is_authenticated %}
                        <li class="info-user-nav">
                            <img src="/static/img/imgHome/user-white.svg" alt="user">
                            <p>Olá, {{ user.username }}!</p>
                        </li>
                        <li class="btn-card-user"><a class="txt-user">Oi {{ user.username }}!</a></li>
                        <li class="btn-card-user"><a href="{% url 'logout' %}" style="color: rgb(246, 89, 89);">Sair</a>
                        </li>
                        {% else %}
                        <li class="info-user-nav">
                            <img src="/static/img/imgHome/user-white.svg" alt="user">
                            <p>Olá, visitante!</p>
                        </li>
                        <li class="btn-card-user"><a href="{% url 'login' %}">Entrar</a></li>
                        <li class="btn-card-user" id="btn-register"><a href="{% url 'signup' %}">Resgistrar-se</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="list">
                <ul>
                    <li class="dropdown">
                        <div onclick="myFunction()" class="dropbtn dropdown-toggle">Projetos</div>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="/projects/software">Softwares</a>
                            <a href="/projects/ebook">E-books</a>
                        </div>
                    </li>
                    <li><a class="m-item-menu" href="{% url 'about' %}">Sobre</a></li>
                    <li><a class="m-item-menu" href="#contato">Contato</a></li>
                    <li><a class="m-item-menu" href="/dashboard/">Colaborar</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>