<header>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <div class="nav-logo">
                    <div class="user">
                        <img src="/static/img/imgHome/user.svg" alt="user">
                    </div>
                <div class="logo">
                    <h1>UPEProjects</h1>
                </div>
            </div>
        </a>
        <div class="nav-items">
            <div class="list">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#projetos">Projetos</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#contato">Contato</a></li>
                    <li><a href="#">Colaborar</a></li>
                </ul>
            </div>
        </div>
        </div>
    </nav>
</header>