.m-container-login{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .m-card-login{
        padding: 2em;

        button{
            margin-top: 1em;
        }
    }
}

.django-ckeditor-widget {
     width: 100%;

     #id_content{
        width: 100%;
    }
}
