// cards
.card-post {
    padding: 10px;
}

.card-post {
    border-radius: 0.4em;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

// post full page
.m-post{
    padding: 3em;
    margin: 3em;
    min-height: 85vh;

    header{
        display: flex;

        h1{
            flex-grow: 1;
            text-align: center;
        }
    }

    h4{
        font-size: medium;
    }

    .info-post{
        text-align: end;
    }

    .post-content{
        flex-grow: 1;
    }

    .footer-post{
        display: flex;
        justify-content: space-between;
    }

    .comments{
        margin-top: 2em;

        span{
            font-weight: 520;
        }
        p{
            margin-left: 1em;
        }

        button{
            margin: 1em;
        }
    }
}