hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, var(--cinza-claro), transparent);
}
.nav-bottom{
    height: 200px;
    background: var(--cinza-escuro);
}
.contact-text{
    padding-top: 15px;
}

.contact-text p{
    text-align: center;
    font-size: 20px;
    color: var(--cinza-claro);
    
}

.upe-network{
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upe-network p{
    color: var(--azul-claro);
    font-size: 18px;
}

.icons-network{
    width: 35%;
    
    display: flex;
    justify-content: space-between;
    
}

.icons-network a img{
    width: 35px;
    height: 35px;
}

.footer-container{
    display: flex;
    flex-direction: row;
}

.local{
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.local-text p{
    color: var(--azul-claro);
    font-size: 18px;

    padding-top: 15px;
}
.local-icon a img{
    width: 35px;
    height: 40px;
}

.local-icon{
    display: flex;
    flex-direction: column;
}

.local-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-icon{
    width: 60%;
}

.text-icon p{
    color: var(--azul-claro);
    font-size: 16px;
    text-align: center;
}
.email:hover{
    border: 1px solid var(--cinza-claro);
    border-top: none;
    border-left: none;
    border-right: none;

    padding: 3px;

    transition: .5s ease all;
}
.instagram:hover{
    border: 1px solid var(--cinza-claro);
    border-top: none;
    border-left: none;
    border-right: none;

    padding: 5px;

    transition: .5s ease all;
}
.site:hover{
    border: 1px solid var(--cinza-claro);
    border-top: none;
    border-left: none;
    border-right: none;

    padding: 5px;

    transition: .5s ease all;
}
.phone:hover{
    border: 1px solid var(--cinza-claro);
    border-top: none;
    border-left: none;
    border-right: none;

    padding: 5px;

    transition: .5s ease all;
}
.local-logo:hover{
    border: 1px solid var(--cinza-claro);
    border-top: none;
    border-left: none;
    border-right: none;

    padding: 3px;

    transition: .5s ease all;
}