/*Navbar*/
.navbar{
    background: var(--cinza-escuro);
}
.user img{
    width: 40px;
    height: 40px;
}
.nav-logo{
    display: flex;
    flex-direction: row;
}
.logo{
    font-family: var(--bebas-font);
    color: var(--azul-claro);

    margin-left: 10px;

}
.logo h1 {
    font-size: 36px;
}

.list ul{
    display: flex;
    flex-direction: row;
}
.list ul li a{
    text-decoration: none;
    color: var(--cinza-claro);
    
    font-size: 20px;
    margin: 0 20px 0 20px;

    transition: .3s ease all;
}
.list ul li a:hover{
    color: var(--azul-claro);

    border: 1px solid var(--cinza-claro);
    border-top: none;
    border-left: none;
    border-right: none;

    padding-bottom: 3px;
}
