<div id="sobre" class="options-container">
  <div class="initial-text-container shadow p-3 mb-5 bg-white">
    <h3>Projetos</h3>
  </div>
  <div class="container-card">
    <div class="card">
      <img src="../../static/img/imgHome/pc.jpg" alt="">
      <div class="card-content">
        <h3>Projetos de Software</h3>
        <div class="text-card-container">
          <p>Estes projetos foram desenvolvidos por discentes e docentes dos cursos de Licenciatura
            em Computação e Engenharia de Software da Universidade de Pernambuco.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="../../static/img/imgHome/kindle.jpg" alt="">
      <div class="card-content">
        <h3>Projetos de E-books></h3>
        <div class="text-card-container">
          <p>Os e-books em formato ebook são disponibilizados por discentes e docentes da
            Universidade de Pernambuco.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>